# deps
/node_modules

# next
/.next/
/out/

# env
.env.local
.env*.local

# misc
.DS_Store
*.pem
Thumbs.db

# source assets, not used by the site directly
/constructor/
/material-dom-postroeno/

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
.vercel
